//Colors
$white: #fff;

$header-blue: #1E88E5;
$light-blue: #389AF0;

$dark-grey: #2F323E;
$light-grey: #92949A;
$grey: #454959;

$grey-link: #444;

$green: #33BF7A;

//Font-size
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 18px;
$font-lg: 20px;