div.form{
  p{
    font-family: "Lato", Helvetica, Arial, sans-serif !important;
  }
  input.form{
    padding:8px 0 8px 15px !important;
    outline:none !important;
    border:solid 2pt #333 !important;
  }

}