<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pusod Inc.</title>

    <!-- Bootstrap core CSS -->
    <link href="public/pusod/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="public/pusod/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="public/pusod/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="public/pusod/css/creative.css" rel="stylesheet">
  </head>

  <body id="page-top">
    <div class="page-wrapper">
      <div class="top-general-charge">
          <div class="top-general-charge-content">
              <i class="fa fa-envelope-o fa-1x mb-1 align-middle"></i>
              <span>pusodinfo@pusod.org</span>
              <i class="fa fa-phone fa-1x mb-1 align-middle"></i>
              <span class="align-middle">(043) 757 3192</span>
          </div>
      </div>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light no-pad" id="mainNav">
        <div class="container header-container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img src="public/pusod/img/pusod-logo.PNG">
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-center">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Taal Volcano <br>Protected Landscape</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Visit Taal <br> Volcano</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Verde Island<br> Passage</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Mt. Malarayat <br>Forest Reserve</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">News & <br>Events</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Donate</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <header class="masthead text-center text-white d-flex">
        <div class="container my-auto page-intro">
          <div class="row">
            <div class="col-lg-10 mx-auto">
              <h1 class="text-uppercase">
                <strong>PLACE EYE CATCHING TAGLINE HERE.</strong>
              </h1>
              <hr>
            </div>
            <div class="col-lg-8 mx-auto">
              <p class="text-faded mb-5">Brief description about the company can be placed here. Brief description about the company can be placed here. Brief description about the company can be placed here. Brief description about the company can be placed here.</p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Support our works</a>
            </div>
          </div>
        </div>
      </header>

      <section class="bg-primary" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 mx-auto">
              <h2 class="section-heading text-white text-center">Overview</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4 text-justify">Pusod, Inc. is a non-stock, non-profit organization whose Mission is to Protect and Enhance the Ecosystems of The Philippines, and to show their significance to the world . Pusod was formed in Manila on March 2004 to further the work originally begun in 1995 by the Babilonia Wilner Foundation</p>

              <h2 class="section-heading text-white text-center">Vision</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4 text-justify">Our vision is a world where people and communities are energized by their cultural and ecological wealth; live with reverence for earth and all life; and naturally prosper in diverse, self-sustaining local economies in which all beings thrive.</p>

              <h2 class="section-heading text-white text-center">Mission</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4 text-justify">Pusod believes it owes success to the communities they serve. The policy is to work in areas and on projects where it is asked to participate by local individuals, communities, governments, sustainable businesses and NGOs. In this way Pusod works with respect for local wisdom, and in participation with all available stakeholders for fruitful partnerships and results. It has worked throughout the Southern Tagalog Region and in Marinduque and Northern Mindoro. Current programming focuses on areas in Batangas that include such national treasures as the Taal Volcano Protected Landscape, Mt. Malarayat Forest Reserve, and Verde Island Passage (VIP). VIP is renowned for having some of the highest levels of endemic marine life in the entire world.</p>
              <p class="text-faded mb-4 text-justify">The Babilonia Fund has been consistently supporting Pusod, Inc. together with individual, corporate and other funding organizations. Pusod has established the Taal Lake Conservation Center with a generous grant from <a class="light-link" href="http://www.sustainability.ups.com/the-ups-foundation/">United Parcel Service (UPS) Foundation</a>. <a class="light-link" href="http://www.globe.com.ph/globebridgecom">Globe Bridging Communities</a> supports the Sustainable Tourism initiatives of the organization in TVPL. Pusod, Inc. is a member of the TVPL Protected Area Management Board.</p>
              <p class="text-faded mb-4 text-justify">
                The <a class="light-link" href="http://www.ptfcf.org/">Philippine Tropical Forest Conservation Foundation</a> supported several Pusod-led initiatives in Mt. Malarayat Forest Reserve such as Biodiversity Monitoring System and Database Management, Ecotourism, and Capacity Building of the Lipa HeadWaters Council. Pusod is a member of the Lipa Headwaters Council and is crucial in its formation. The LHWC oversees conservation and management of Mt. Malarayat Forest Reserve.
              </p>
              <p class="text-faded mb-4 text-justify">
                Pusod supports the implementation of the Verde Island Passage Management Framework. Also identified as one of <a class="light-link" href="https://www.calacademy.org/">California Academy of Sciences</a> local partners for the Philippine Biodiversity Expedition 2011, Pusod continues to be the education outreach local partner of CAS in the succeeding Marine Biodiversity Expeditions. It is also the local partner of USAID under the ECOFISH Project's in the recently concluded " Support for the Development of Social Enterprises for Fishing Communities in Verde Island Passage (VIP) MKBA.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h2 class="section-heading text-center">Latest News and Events</h2>
              <hr class="my-4">
            </div>   
          </div>
        </div>    
      </section>

      <section class="p-0" id="portfolio">
        <div class="container-fluid p-0">
          <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box">
                <img class="img-fluid" src="public/pusod/img/portfolio/thumbnails/event-1.jpg" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-name">
                          Event Name
                      </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box">
                <img class="img-fluid" src="public/pusod/img/portfolio/thumbnails/event-2.jpg" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-name">
                          Event Name
                      </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box">
                <img class="img-fluid" src="public/pusod/img/portfolio/thumbnails/event-3.jpg" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-name">
                          Event Name
                      </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box">
                <img class="img-fluid" src="public/pusod/img/portfolio/thumbnails/event-4.jpg" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-name">
                          Event Name
                      </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box">
                <img class="img-fluid" src="public/pusod/img/portfolio/thumbnails/event-5.jpg" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                    <div class="project-name">
                      Event Name
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a class="portfolio-box">
                <img class="img-fluid" src="public/pusod/img/portfolio/thumbnails/event-6.jpg" alt="">
                <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-name">
                          Event Name
                      </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">Let's Get In Touch!</h2>
              <hr class="my-4">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-envelope text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">pusodinfo@pusod.org</h3>
                <p class="text-muted mb-0"></p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-phone text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">(043) 757 3192</h3>
                <p class="text-muted mb-0">Are you interested in our offer and have questions?
Contact us!</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
              <div class="service-box mt-5 mx-auto">
                <i class="fa fa-4x fa-map-marker text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">OUR ADDRESS</h3>
                <p class="text-muted mb-0">Unit V5, 2nd Flr., BigBen Complex, J.P., Pres. J.P. Laurel Hwy, Lipa, 4217 Batangas</p>
              </div>
            </div>  
          </div>
        </div>
      </section>

      <footer class="bg-dark">
         <div class="container">
           <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
               <p class="text-faded copyright text-center">© PUSOD INC. - ALL RIGHTS RESERVED</p>
             </div>
             <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
               <ul class="social-media-footer">
                 <li>
                   <a href=""><i class="fa fa-2x fa-facebook-square"></i></a>
                 </li>
                 <li>
                   <a href=""><i class="fa fa-2x fa-twitter-square"></i></a>
                 </li>
               </ul>
             </div>
           </div>
         </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="public/pusod/vendor/jquery/jquery.min.js"></script>
    <script src="public/pusod/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="public/pusod/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="public/pusod/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="public/pusod/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="public/pusod/js/creative.min.js"></script>

    <script type="text/javascript">
        window.onscroll = function() {stickyMenu()};
        var navbar = document.getElementById("mainNav");
        var sticky = navbar.offsetTop;
        function stickyMenu() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky-top")
            } else {
                navbar.classList.remove("sticky-top");
            }
        }
    </script>

  </body>

</html>
