<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portfolio | Jojo P. Linatoc</title>
    <link rel="icon" type="image/png" href="public/images/jlogo.png">
    <!-- Bootstrap core CSS -->
    <link href="public/assets/css/bootstrap.css" rel="stylesheet">
    <!--for tooltip-->
    <link href="public/stylesheets/atooltip.css" rel="stylesheet">
    <link href="public/stylesheets/style.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="public/assets/css/main.css" rel="stylesheet">
    <link href="public/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/assets/css/animate-custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <script src="public/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="public/assets/js/modernizr.custom.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
<div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#home"><img src="public/images/jlogo.png" class="jlogo"></a> </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home" class="smoothScroll">Home</a></li>
                    <li> <a href="#about" class="smoothScroll"> About Me</a></li>
                    <li> <a href="#services" class="smoothScroll"> Services</a></li>
                    <li> <a href="#portfolio" class="smoothScroll"> Portfolio</a></li>
                    <li> <a href="#team" class="smoothScroll">Skills</a></li>
                    <li> <a href="#contact" class="smoothScroll"> Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
    <header class="clearfix">
        <h1 class="homeh1">Jojo Linatoc</h1>
        <p class="homep">Front-end Web Developer</p>
        <a href="#portfolio" class="smoothScroll btn btn-lg">See my works</a> </header>
</div>
<!-- /headerwrap -->

<!-- ==== ABOUT ==== -->
<div id="about" name="about">
    <div class="container">
        <div class="row white">
            <div class="col-md-6"> <img class="img-responsive hideme" src="public/assets/img/about/about1.jpg" align=""> </div>
            <div class="col-md-6">
                <h3>About Me</h3>
                <p class="hideme">I am a graduate of Bachelor of Science in Information Technology at STI College Lipa.  I am currently working at Kinpo Electronics, Philippines as a Software Engineer in Research and Development Department.  We work as a team for the maintenance of the company's website.</p>
                <h3 class="hideme">Why choose me?</h3>
                <ul class="hideme">
                    <li>For me, the customer is always right.</li>
                    <li>Patient in testing programs.</li>
                    <li>Time is money, Money is time.</li>
                    <li>My Background is in Front-end web development.</li>
                </ul>
            </div>
        </div>
        <!-- row -->
    </div>
</div>
<!-- container -->

<!-- ==== SERVICES ==== -->
<div id="services" name="services">
    <div class="container">
        <div class="row">
            <h2 class="centered" class="hideme">Services</h2>
            <hr>
            <div class="col-holder">
                <div class="col-lg-8 col-lg-offset-2 hideme">
                    <p class="large">A web site is the most important component of your company’s marketing plan. It’s the central hub for your messaging efforts and should have all other marketing materials allocated to it.</p>
                </div>
                <div class="col-lg-3 callout hideme" ><img class="img1" src="public/assets/img/team/1.png">
                    <h3>Responsive Design</h3>
                    <p>Day by day, the number of devices, platforms, and browsers that need to work with your site grows. Responsive web design represents a fundamental shift in how we’ll build websites for the decade to come.</p>
                </div>
                <div class="col-lg-3 callout hideme" > <img class="img1" src="public/assets/img/team/2.jpg">
                    <h3>Web Development</h3>
                    <p> If you really want to generate more business with a quality website. This may be the first line of communication between you and potential guests or visitors.</p>
                </div>
                <div class="col-lg-3 callout hideme" > <img class="img2" src="public/assets/img/team/3.png">
                    <h3>phpMyAdmin Database</h3>
                    <p>When running a business, investing in database software makes it possible to keep track of valuable information for your company and helps your employees maintain access to this important data.</p>
                </div>
                <div class="col-lg-3 callout hideme" > <img class="img1" src="public/assets/img/team/4.png">
                    <h3>Website Maintenance</h3>
                    <p> All businesses need regular website maintenance to attract and retain customers, maintain search engine rankings and present new information, products and services to the public. </p>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
</div>
<!-- container -->

<!-- ==== PORTFOLIO ==== -->
<div id="portfolio" name="portfolio">
    <div class="container">
        <div class="row">
            <h2 class="centered hideme">My Portfolio</h2>
            <hr>
            <div class="col-lg-8 col-lg-offset-2 centered">
                <p class="large hideme">Some of my works are not yet uploaded.</p>
            </div>
        </div>
        <!-- /row -->
        <div class="container">
            <div class="row">

                <!-- PORTFOLIO IMAGE 1 -->
                <div class="col-md-4 ">
                    <div class="grid mask hideme">
                        <figure> <img class="img-responsive" src="public/images/p1.PNG" alt="">
                            <figcaption>
                                <h5>PUSOD, Inc.</h5>
                                <a data-toggle="modal" href="#myModal" class="btn btn-default">More Details</a> </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                </div>

                <!-- PORTFOLIO IMAGE 2 -->
                <div class="col-md-4 ">
                    <div class="grid mask hideme">
                        <figure> <img class="img-responsive" src="public/images/his2.PNG" alt="">
                            <figcaption>
                                <h5>HIS Website</h5>
                                <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a> </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                </div>

                <!-- PORTFOLIO IMAGE 3 -->
                <div class="col-md-4 ">
                    <div class="grid mask hideme">
                        <figure> <img class="img-responsive" src="public/images/xyz.PNG" alt="">
                            <figcaption>
                                <h5>XYZprinting Website</h5>
                                <a data-toggle="modal" href="#myModal3" class="btn btn-default">More Details</a> </figcaption>
                            <!-- /figcaption -->
                        </figure>
                        <!-- /figure -->
                    </div>
                    <!-- /grid-mask -->
                </div>

                <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                                      a modal for each of your projects. -->

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Online Inquiry and Reservation for TLCC</h4>
                            </div>
                            <div class="modal-body">
                                <p><img class="img-responsive" src="public/images/p1.PNG" alt=""></p>
                                <p>I developed this website during my On-the-Job-Training at PUSOD, Inc. It is an online inquiry and reservation system for which client can inquire and book for a reservation on the facility that PUSOD, Inc. owned.  They gave me a deadline and I accomplish the task on time for which the company has had positive feedback.</p>
                                <p><b><a target="_blank"href="http://pusod.org/">Visit Site</a></b></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>

                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Health Information System</h4>
                            </div>
                            <div class="modal-body">
                                <p><img class="img-responsive" src="public/images/his2.PNG" alt=""></p>
                                <p>An online health information system that is use by doctor's to examine or review the heart health condition of a patient.</p>
                                <p><b><a target="_blank"href="http://his.stage.xyzprinting.com">Visit Site</a></b></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>

                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">XYZ Website</h4>
                            </div>
                            <div class="modal-body">
                                <p><img class="img-responsive" src="public/images/xyz.PNG" alt=""></p>
                                <p>I am maintaining this website, actually we are a team who maintains websites of XYZprinting.  The website is available in different regions with different languages such as Korea, Japan, Taiwan, Europe, Thailand and China.</p>
                                <p><b><a target="_blank"href="http://us.xyzprinting.com/">Visit Site</a></b></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                    <!-- /col -->
                </div>
                <!-- /row -->
            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /container -->

    <!-- ==== TEAM MEMBERS ==== -->
    <div id="team" name="team">
        <div class="container">
            <div class="row centered">
                <h2 class="centered hideme">Skills</h2>
                <hr>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/html1.jpg" height="120px" width="120px" alt="">
                    <h4>HTML</h4>
                    <p>I have advance knowledge in HTML.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/css1.png" height="120px" width="120px" alt="">
                    <h4>CSS3</h4>
                    <p>I have advance knowledge in CSS. I am using bootstrap library for responsive web design.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/sass.png" height="120px" width="120px" alt="">
                    <h4>SASS</h4>
                    <p>I have advance knowledge in SASS.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/js.png" height="120px" width="120px" alt="">
                    <h4>Javascript</h4>
                    <p>I have intermediate knowledge in Javascript.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/jquery.png" height="120px" width="120px" alt="">
                    <h4>JQuery</h4>
                    <p>I have intermediate knowledge in jquery.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/angular.png" height="120px" width="120px" alt="">
                    <h4>AngularJs</h4>
                    <p>I have intermediate knowledge in AngularJS programming.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/php.jpg" height="120px" width="120px" alt="">
                    <h4>phpMyAdmin</h4>
                    <p>I have intermediate knowledge in phpMyAdmin database.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/logo_play.png" height="120px" width="120px" alt="">
                    <h4>Play framework</h4>
                    <p>I have intermediate knowledge in Play framework.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/source.png" height="120px" width="120px" alt="">
                    <h4>Source Tree Git</h4>
                    <p>I am very familiar in using Git.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/ij.png" height="120px" width="120px" alt="">
                    <h4>IntelliJIdea</h4>
                    <p>I am using ItelliJIdea as my IDE.</p>
                </div>
                <div class="col-lg-3 centered hideme mySkills"> <img class="img img-circle" src="public/assets/img/team/adobe.jpg" height="120px" width="120px" alt="">
                    <h4>Adobe Photoshop</h4>
                    <p>I have intermediate knowledge in editing pictures in Adobe Photoshop.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 centered hideme">
                    <p class="large"> </p>
                </div>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->

    <!-- ==== CONTACT ==== -->
    <div id="contact" name="contact">
        <div class="container">
            <div class="row">
                <h2 class="centered hideme">Contact Me</h2>
                <hr>
                <div class="col-md-4 centered hideme"> <i class="fa fa-map-marker fa-2x"></i>
                    <p>#186, Lumbang, Lipa City<br>
                        Batangas, Philippines</p>
                </div>
                <div class="col-md-4 hideme"> <i class="fa fa-envelope-o fa-2x"></i>
                    <p>linatocjojop@gmail.com</p>
                </div>
                <div class="col-md-4 hideme"> <i class="fa fa-phone fa-2x"></i>

                    <p><a href="#" class="clickTip">Click to view my cellphone number</a></p>
                    <div id="aToolTip" class="defaultTheme">
                        <p class="aToolTipContent">Your tooltip content</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 centered hideme">
                    <p>Leave me a message here...</p>
                    <div class="col-xs-12 col-md-12">
                        <button class="btn btn btn-lg" id="b1" onclick="$('.show_message').show();$('#b2').show();$(this).hide();" type="submit">Send Message</button>
                        <button class="btn btn btn-lg" id="b2" onclick="$('.show_message').hide();$('#b1').show();$(this).hide();" style="display:none;"type="submit">Cancel</button>
                    </div>
                    <!-- Do not change the code! -->
                    <!-- Do not change the code! -->
                    <div class="show_message" style="display:none;">
                        <a id="foxyform_embed_link_702501" href="#"> </a>
                        <script type="text/javascript">
                        (function(d, t){
                           var g = d.createElement(t),
                               s = d.getElementsByTagName(t)[0];
                           g.src = "http://www.foxyform.com/js.php?id=702501&sec_hash=05320fd96b6&width=350px";
                           s.parentNode.insertBefore(g, s);
                        }(document, "script"));
                    </script>
                    </div>
                    <!-- Do not change the code! -->
                    <!-- Do not change the code! -->
                    <!-- form -->
                </div>
            </div>
            <!-- row -->

        </div>
    </div>
    <!-- container -->

    <div id="footerwrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8"> </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a target="_blank" href="https://twitter.com/LinatocJojo"><i class="fa fa-twitter"></i></a> </li>
                        <li><a  target="_blank" href="https://www.facebook.com/jojo.linatoc07"><i class="fa fa-facebook"></i></a> </li>
                        <li><a  target="_blank" href="https://plus.google.com/102470305112366647778/posts"><i class="fa fa-google-plus"></i></a> </li>
                        <li><a  target="_blank" href="https://www.linkedin.com/nhome/"><i class="fa fa-linkedin"></i></a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
   $(document).ready(function() {

    /* Every time the window is scrolled ... */
    $(window).scroll( function(){

        /* Check the location of each desired element */
        $('.hideme').each( function(i){

            var bottom_of_object = $(this).offset().top + $(this).outerHeight();
            var bottom_of_window = $(window).scrollTop() + $(window).height();

            /* If the object is completely visible in the window, fade it it */
            if( bottom_of_window > bottom_of_object ){

                $(this).animate({'opacity':'1'},1000);

            }

        });

    });

});
</script>

    <script>
        // initiate the plugin after DOM has loaded
        $(function(){
            // on click tooltip with custom content
            $('a.clickTip').aToolTip({
                clickIt: true,
                tipContent: '+63 975 352 7076'
            });

            // List of all parameters and their default values:
            $('a').aToolTip({
                // no need to change/override
                closeTipBtn: 'aToolTipCloseBtn',
                toolTipId: 'aToolTip',
                // ok to override

                clickIt: true,					// set to true for click activated tooltip
                inSpeed: 200,					// Speed tooltip fades in
                outSpeed: 100,					// Speed tooltip fades out
                tipContent: '',					// Pass in content or it will use objects 'title' attribute
                toolTipClass: 'defaultTheme',	// Set class name for custom theme/styles
                xOffset: 5,						// x position
                yOffset: 5,						// y position
                onShow: null,					// callback function that fires after atooltip has shown
                onHide: null					// callback function that fires after atooltip has faded out
            });

        });

    </script>
    <!--for tooltip-->
    <script type="text/javascript" src="public/javascripts/jquery.atooltip.min.js"></script>

    <script type="text/javascript" src="public/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/assets/js/retina.js"></script>
    <script type="text/javascript" src="public/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="public/assets/js/smoothscroll.js"></script>
    <script type="text/javascript" src="public/assets/js/jquery-func.js"></script>
</body>
</html>

